.features
	background-color: #f4f4f4
	margin-bottom: 55px
	&__block
		text-align: center
		margin-bottom: 37px
	h3
		color: $active-color
		font-size: 36px
		font-weight: 900
		margin-bottom: 10px
	sup
		font-size: 22px
	p
		font-size: 16px
		line-height: 20px
		font-weight: 400
.media
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-bottom: 37px
	padding: 28px 19px
	background-color: $color-light
	img
		margin-right: 9px
	h4
		margin-bottom: 14px
		margin-top: 0
	p
		font-size: 14px
		font-weight: 300