@media screen and (max-width: 1200px)
	.main-img__wrap
		margin-left: -50%

@media (min-width: 992px) and (max-width: 1199.98px)
	.icon__text_m
		margin-top: 5%
	.hidden-mobile
		display: block
	.button__big
		padding: 13px 20px
	.header__logo
		background-size: 90%
	.header-contacts
		&__btn
			font-size: 12px
			padding: 10px 12px
		&__phone
			font-size: 20px
	.main
		padding-top: 40px
		padding-bottom: 35px
	.main-text
		h1
			font-size: 30px
		h2
			margin-bottom: 5px
		p
			font-size: 20px
			margin-bottom: 10px
		&__form
			padding: 15px 27px
	.main-img__wrap
		top: -12.25rem
	.form_small
		font-size: 14px
		margin-left: 0
	.window
		width: 576px
		&-title
			font-size: 19px
		&-main
			padding: 35px 38px
	.window-form
		&__header
			font-size: 26px
		&__label
			font-size: 18px
			margin-top: 13px
		&__input
			margin-bottom: 10px

// Средние девайсы («таблетки», >= 768px) 
@media (min-width: 768px) and (max-width: 991.98px)
	.features
		font-size: 1rem
	.features__adv
		height: 15rem
	.features__block
		h3
			font-size: 1px
	.hidden-mobile
		display: none
	.button
		padding: 15px 50px
		&__big
			width: 100%
	.header-contacts
		&__phone
			&s
				flex-direction: column
			&:first-child
				border: none
				padding-right: 0
			font-size: 18px
	.header__phone_fat
		font-weight: 900
	.main
		padding-top: 60px
	.main-text
		h1
			color: $active-color
		p
			margin-bottom: 1rem
	.main-img__wrap
		display: none
	.form
		display: block
		&__input
			width: 100%
			margin-right: 0
			margin-bottom: 10px
	.window
		width: 80%
		&-title
			font-size: 17px
			min-height: 58px
			line-height: 58px
			height: 58px
  &-main
  	padding: 25px 58px 30px 58px
  &-close
  	font-weight: 400
 .window-form
 	&__header
 		font-size: 24px
 	&__small
 		font-size: 18px
 		display: block
 	&__label
 		font-size: 14px
 	&__input
 		margin-right: 0
 		width: 80%
 		margin-bottom: 10px

@media screen and (max-width: 576px)
	h1
		font-size: 22px
		font-weight: 700
		line-height: 24px
		color: $active-color
	p
		font-size: 18px
		font-weight: 400
		margin-bottom: 40px
	h2
		padding-right: 0
		font-weight: 300
		line-height: 18px
		font-size: 15px
		margin-bottom: 16px
	.button__big
		display: inline-block
		font-size: 15px
		padding: 19px 29px
		width: 50%
	.hidden-mobile
		display: none
	.header__logo
		background: $active-color url(../img/header-logo-mobile.png) center no-repeat
		width: 35px
		height: 35px
		border-radius: 4px
	.header-contacts
		&__phone
			&s
				flex-direction: column
			font-size: 14px
			margin-right: 14px
			&:first-child
				border: none
				padding-right: 0
		.header__phone_fat
			font-weight: 900
		&__btn
			display: inline-block
			padding: 7px
	.main
		padding-top: 50px
		&-img
			display: none
	.main-text
		text-align: center
		&__form
			background-color: transparent
			padding: 0
		&__import
			margin-top: 12px
			font-weight: 700
	.form
		display: block
		margin-bottom: 16px
	.form__input
		width: 80%
		text-align: center
		margin-bottom: 13px
		margin-right: 0
	.form_small
		font-size: 13px
		font-weight: 300
		line-height: 30px
		margin-left: 0
		margin-bottom: 58px
	.window
		width: 78%
		&-title
			font-size: 14px
			min-height: 48px
			height: 48px
			line-height: 48px
	.window-main
		padding: 15px 8px 30px 8px
	.window-form
		&__header
			font-size: 18px
		&__small
			display: block
			font-size: 14px
		&__label
			margin-top: 10px
			font-size: 16px
			margin-bottom: 5px
		&__input
			width: 90%
			height: 40px
			margin-right: 0
			margin-bottom: 10px
		&__btn
			padding: 15px 19px
		&__note
			margin-top: 5px
			font-size: 13px

@media screen and (min-width: 576px) and (max-width: 767px)
	.main-img
		display: none